
body {
    background: linear-gradient(to bottom, #4CAF50, #2196F3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
