{% extends './login.html' %}

{% block body %}

	<div class="container">
    <div class="login-box">
    <form method="POST" action="passwordreset">
	{% csrf_token %}
	<P><label>UserName</label><input type="text" name="uname"></P><br>
	<p><label style="display: inline;">Email : </label><input style="display: inline; height: 30px; width: 160px;" type="email" name="email" ></p><br>
	<P><label>New Password</label><input type="password" name="password"></P>
	<input type="submit" Value="Send" style="background-color: transparent; height: 25px; width: 80px; border-radius: 6px;">
	{{errmsg}}
	<P><a href="http://127.0.0.1:8000/" ><I>Login</I></a> </P>
    </form>
	</div>
	</div>

{% endblock %}

